#theView {
	position:relative;
	height:80%;
	width:100%;
	top:115px;
	padding:15px;
	z-index:105;
	
}

hr {
	width:75%;
	opacity:.5;
}

h2 {
	position:absolute;
	font-family:Play;
	color:#707070;
	top:0;
}

h4 {
	color:white;
	font-style:italic;
}